File Extentions
---------------
*.wpr
*.wpu
*.*~

Folders
-------
.ropeproject/

Files
-----
result_page.txt
registered_nos.txt
engine_nos.txt

PyCharm IDE
-----------
.idea/

pipenv
------
Pipfile.lock
